In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [2]:
# PostgreSQL credentials
username = "postgres"                 
password = quote_plus("Thanda@23")     
host = "localhost"
port = "5432"
database = "data_problems"            

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

products = pd.read_sql('SELECT * FROM manufacture_product', engine)
sales = pd.read_sql('SELECT * FROM manufacture_sales', engine)

In [10]:
merged_df = products.merge(sales, how='inner', on='product_id')

merged_df['rank'] = merged_df.groupby('category')['revenue'].rank(method='dense', ascending=False)

final_df = merged_df[['category', 'product_name', 'revenue', 'rank']].sort_values(['category', 'rank'])

In [11]:
final_df

  category product_name  revenue  rank
2        A     Product3    180.0   1.0
1        A     Product2    120.0   2.0
0        A     Product1    100.0   3.0
5        B     Product6     70.0   1.0
3        B     Product4     50.0   2.0
4        B     Product5     30.0   3.0
6        C     Product7    150.0   1.0
7        C     Product8    100.0   2.0
8        C     Product9     80.0   3.0