In [1]:
import pandas as pd
import numpy as np
import sys
import os

# Add project root to path
sys.path.append(r"D:\data-problem-solving")

from db import load_table, engine

titanic_df = pd.read_sql(
    'SELECT * FROM "titanic_survivor_non_survivor".titanic_data',
    engine
)

In [2]:
result = (
    titanic_df.groupby("survived")
    .agg(
        first_class=("pclass", lambda x: (x==1).sum()),
        second_class=("pclass", lambda x: (x==2).sum()),
        third_class=("pclass", lambda x: (x==3).sum())                   
    )
    .reset_index()
)

print(result)

   survived  first_class  second_class  third_class
0         0           11             6           42
1         1           10            12           19