In [1]:
import pandas as pd
import sys
import os

# Add project root to path
sys.path.append(r"D:\data-problem-solving")

from db import load_table, engine

gdp_df1 =  load_table('gdp_df1')
gdp_df2 =  load_table('gdp_df2')

In [10]:
df = pd.concat([gdp_df1,gdp_df2], ignore_index=True)

df = df.sort_values(['country','year'])

df['prev_gdp'] = df.groupby('country')['gdp'].shift(1)

df['GDP_growth_rate'] = ((df['gdp'] - df['prev_gdp'])/ df['prev_gdp']) * 100

df['GDP_growth_rate'] = df['GDP_growth_rate'].round(2)

df = df.drop(columns =['prev_gdp'])

df[['country','year','GDP_growth_rate']]

  country  year  GDP_growth_rate
2   China  2018              NaN
3   China  2019             3.66
4   India  2018              NaN
5   India  2019             5.72
0     USA  2018              NaN
1     USA  2019             4.30