In [1]:
import pandas as pd
import numpy as np
import sys
import os

# Add project root to path
sys.path.append(r"D:\data-problem-solving")

from db import load_table, engine

df_hosts = pd.read_sql(
    'SELECT * FROM "number_of_units_per_nationality".airbnb_hosts',
    engine
)

df_units = pd.read_sql(
    'SELECT * FROM "number_of_units_per_nationality".airbnb_units',
    engine
)

In [3]:
# Filter for hosts under 30 and apartment units
merged = (
    df_hosts.merge(df_units, on='host_id')
    .query("unit_type == 'Apartment' and age < 30")
)

# Count distinct unit_ids per nationality
result = (
    merged.groupby('nationality')['unit_id']
    .nunique()
    .reset_index(name='num_apartments')
    .sort_values('num_apartments', ascending=False)
)

print(result)

  nationality  num_apartments
0         USA               2